---

Checks: "
    *,
    -abseil-*,
    -altera-*,
    -android-*,
    -llvmlibc-*,
    -llvm-header-guard,
    -llvm-namespace-comment,
    -fuchsia-default-arguments-calls,
    -fuchsia-trailing-return,
    -cert-dcl37-c,
    -cert-dcl51-cpp,
"
WarningsAsErrors: "*"
